In [1]:
import pandas as pd

In [3]:
test1 = pd.read_csv('한국서부발전(주)_신재생에너지발전량_20220228.csv', encoding='cp949')
test2 = pd.read_csv('한국서부발전(주)_태양광 발전 현황_20220731.csv', encoding='cp949')

In [10]:
df_melted = test1.melt(id_vars=['년월일'], value_vars=[f'{i:02d}시' for i in range(1, 6)], var_name='Hour', value_name='power')

,발전기명,년월일,설비용량(MW),01시,02시,03시,04시,05시,06시,07시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,세종시폐기물매립장태양광,2017-01-01,1.628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,742080.0,334440.0,87240.0,2880.0,4320.0,0.0,0.0,0.0,0.0,0.0
1,세종시폐기물매립장태양광,2017-01-02,1.628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,606360.0,501120.0,158280.0,2760.0,3360.0,0.0,0.0,0.0,0.0,0.0
2,세종시폐기물매립장태양광,2017-01-03,1.628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,881040.0,557040.0,128640.0,2280.0,3000.0,0.0,0.0,0.0,0.0,0.0
3,세종시폐기물매립장태양광,2017-01-04,1.628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,677280.0,502320.0,112080.0,1800.0,2760.0,0.0,0.0,0.0,0.0,0.0
4,세종시폐기물매립장태양광,2017-01-05,1.628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,259560.0,138840.0,45000.0,2520.0,2880.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# 발전기명에 대한 고유값(종류)를 얻기
unique_generators = test1['발전기명'].unique()

# 각 발전기명별 행의 수를 얻기
generator_counts = test1['발전기명'].value_counts()

print("발전기 종류:", unique_generators)
print("\n각 발전기별 행의 수:\n", generator_counts)

발전기 종류: ['영암에프원태양광b' '[서인천]발전부지내 태양광 1단계' '[서인천]발전부지내 태양광 1단계ESS'
 '[서인천]발전부지내 태양광 2단계' '[평택]발전부지내 1단계 태양광 ESS' '[평택]발전부지내 태양광 1단계'
 '군산복합2단계태양광' '군산복합2단계태양광ESS' '대전 학하 연료전지' '삼랑진태양광#1' '삼랑진태양광#2' '새빛태양광'
 '서인천연료전지' '서인천연료전지2' '석정태양광발전소' '세종시수질복원센터태양광연계 ESS' '세종시자전거도로태양광'
 '세종시자전거도로태양광#2' '세종시자전거도로태양광#3' '세종시폐기물매립장태양광' '세종시폐기물매립장태양광ESS'
 '수질복원센터태양광' '아산시 폐기물 매립장 태양광' '아산시 폐기물 매립장 태양광연계 ESS' '안산공단태양광' '안산목내태양광'
 '안산성곡태양광' '안산연성정수장태양광' '안산와동태양광' '안산초지태양광' '의왕 연료전지' '익산(군산 1단계)연료전지'
 '장흥풍력' '천안청수연료전지' '태안9·10호기태양광' '태안_ESS#2_#1수상' '태안_ESS#2_1단계_건축물'
 '태안_ESS#2_2단계_#1옥내저탄장' '태안_ESS#2_2단계_건축물' '태안발전부지태양광1호기'
 '태안부지 태양광 2단계(건축물)' '태안부지 태양광 2단계(대지)' '태안소수력#1' '태안소수력#2' '태안저탄장태양광1호기'
 '태안태양광2단계_ESS' '태안태양광발전기' '평택2복합태양광' '한국서부발전(주)태양광발전소'
 '한국서부발전(주)태양광발전소 ESS' '화성 남양 연료전지' '화순풍력' '화순풍력 ESS']

각 발전기별 행의 수:
 발전기명
영암에프원태양광b                3575
세종시폐기물매립장태양광ESS          1946
화순풍력 ESS                 1946
태안태양광2단계_ESS             1926
안산연성정수장태양광               1611
태안태양광발전기                 1607
세종시폐기물매립장태양광             1606
[서인천]발전부지내 태양광 1단계ESS    1476
[평택]발전부지내 1단계 태양광 ESS    1476
군산복합2단계태양광ESS            1474
태안_ESS#2_#1수상            1460
태안_ESS#2_1단계_건축물         1458
태안_ESS#2_2단계_#1옥내저탄장     1458
태안_ESS#2_2단계_건축물         1456
수질복원센터태양광                1246
안산초지태양광                  1246
[서인천]발전부지내 태양광 1단계       1246
안산목내태양광                  1246
안산공단태양광                  1246
평택2복합태양광                 1246
[서인천]발전부지내 태양광 2단계       1246
안산와동태양광                  1246
삼랑진태양광#2                 1246
석정태양광발전소                 1246
[평택]발전부지내 태양광 1단계        1246
군산복합2단계태양광               1246
삼랑진태양광#1                 1246
새빛태양광                    1246
안산성곡태양광                  1246
세종시자전거도로태양광#3            1246
세종시자전거도로태양광              1246
세종시자전거도로태양광#2            1246
태안부지 태양광 2단계(대지)         1245
태안9·10호기태양광              1245
태안발전부지태양광1호기             1244
태안부지 태양광 2단계(건축물)        1244
태안저탄장태양광1호기              1094
세종시수질복원센터태양광연계 ESS       1048
아산시 폐기물 매립장 태양광연계 ESS    1036
한국서부발전(주)태양광발전소 ESS      1032
화순풍력                      973
서인천연료전지                   973
태안소수력#1                   971
서인천연료전지2                  928
아산시 폐기물 매립장 태양광           899
천안청수연료전지                  573
한국서부발전(주)태양광발전소           516
화성 남양 연료전지                431
태안소수력#2                   284
의왕 연료전지                   276
장흥풍력                      231
대전 학하 연료전지                146
익산(군산 1단계)연료전지             20
Name: count, dtype: int64

In [11]:
# 발전기명에 대한 고유값(종류)를 얻기
unique_generators = test2['발전기명'].unique()

# 각 발전기명별 행의 수를 얻기
generator_counts = test2['발전기명'].value_counts()

print("발전기 종류:", unique_generators)
print("\n각 발전기별 행의 수:\n", generator_counts)

발전기 종류: ['세종시폐기물매립장태양광' '안산연성정수장태양광' '영암에프원태양광b']

각 발전기별 행의 수:
 발전기명
안산연성정수장태양광      2038
영암에프원태양광b       2038
세종시폐기물매립장태양광    2033
Name: count, dtype: int64